button { 
    padding: 0; 
    border: none; 
    font: inherit; 
    color: inherit; 
    background-color: 
    transparent; cursor: 
    pointer; 
}

a {
    text-decoration: none;
}

.header {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 293px;
    grid-template-columns: 1fr 1fr 1fr;
}

.header__links-list { 
    display: flex;
    gap: 0 11%;
    position: relative;
    font-size: 113%;
    left: 26px;
    list-style: circle;
    white-space: nowrap;
}

.header__links-list-item {
    list-style: none;
}

.header__links-list-item2 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__logo {
    display: block;
    position: relative;
    left: 2px;
    width: 37%;
}

.contacts {  
    list-style: none;
    font-size: 112%;
    line-height: 125%;
    font-style: normal;
    text-underline-offset: 5px;
    position: relative;
    line-height: 130%;
    right: 4px;
}

.conacts_number {
    text-decoration: underline;
    text-decoration-thickness: 0.7px;
    text-underline-offset: 4px;
}

address {
    font-style: normal;
}

.cover {
    display: flex;
    height: 757px;
    width: 1100px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    display: flex;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    justify-content: space-around;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    position: relative;
    left: 50px;
    top: 162.5px;
}

.aligned-text_center {
    display: block;
    position: relative;
    right: 39.5px;
    top: 290px;
}

.aligned-text_right {
    display: block;
    position: relative;
    right: 170px;
    top: 411.5px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    display: flex;
    height: 577px;
    color: white;
    justify-content: space-evenly;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 3.65vh;
    gap: 34px;
}

.cover__description-text {
    word-spacing: 18px;
    position: relative;
    left: 20px;
}

.bet-button {
    text-transform: uppercase;
    position: relative;
    top: 12px;
    left: 8px;
    padding: 12px 32px;
    border: 1px solid rgb(255, 255, 255);
}

.lots__heading {
    text-transform: uppercase;
    font-size: 250%;
    margin: 197px 0 25px 65px ;
}

.lots__card-list { 
    display: flex;
    list-style: none;
    gap: 26.5px;
    padding-left: 25px;
    color: white;
}

.card-link {
    display: block;
    width: 334px;
    height: 563px;
}

.card {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    z-index: -1;
    flex-grow: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.article {
    display: flex;
    flex-direction: column;
}

.card__title {
    width: 80%;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 12%;
    margin-top: 16%;
}

.card__text {
    height: 100%;
    margin-left: 40px;
    margin-right: 38px;
    font-size: 125%;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    bottom: 8%;
    line-height: 120%;
}

.lots__look-more-link {
    position: relative;
    text-decoration: underline;
    text-underline-offset: 3.9px;
    text-decoration-thickness: 0.8px;
    font-size: 125%;
    top: 35px;
    left: 65px;
}

.about__column {
    margin-top: 215px;
    margin-right: 25px;
    margin-left: 70px;
    display: flex;
    gap: 7.2%;
}

.about__logo {
    display: flex;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.about__logo-image {
    width: 148px;
    margin-left: 47px;
    display: flex;
    justify-content: center;
}

.about__text_div {
    display: flex;
    flex-direction: column;
    gap: 101px;
}

.about__title {
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 252%;
}

.about__text {
    font-size: 126%;
}

.paragraph {
    display: block;
    margin-top: 4.4%;
}

.footer {
    display: flex;
    justify-content: space-around;
    gap: 9%;
    margin-top: 18%;
}

.contacts_footer {
    position: relative;
}

.footer__menu {
    font-size: 112%;
    text-align: center;
    position: relative;
    bottom: 13px;
    left: 22px;
}

.footer__links-list-item {
    list-style: none;
}

.footer__social-list {
    display: flex;
    gap: 51.5px;
    position: relative;
    left: 6px;
    bottom: 15px;
    text-decoration: overline;
}

.footer__social-link {
    display: block;
    width: 48px;
    font-size: 150%;
}

.footer__social-list-item { 
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: underline;
    text-underline-offset: 4px;
}